  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img class="footer-image" src="http://susiecakes.com/app/uploads/2016/01/footer-susie.png" alt="" />
      </div>

      <div class="col-md-5">
        <h5 class="sub-title uppercase">Custom Orders</h5>
        <p>
          Would you like to place a Custom Order or have a special request?
        </p>
        <a href="" class="sub-title uppercase">Contact your nearest location</a>
        <h5 class="sub-title uppercase">Tell Rachel</h5>
        <p>
          Have feedback about our products or service? <br />
          Please contact Susie directly at:
        </p>
        <a href="" class="sub-title uppercase">rachel@bakesbyrachel.com</a>
      </div>

      <div class="col-md-2">
        <h5 class="uppercase"><a href="">Rachels Cakes</a></h5>
        <h5 class="uppercase"><a href="">About</a></h5>
        <h5 class="uppercase"><a href="">Menu</a></h5>
        <h5 class="uppercase"><a href="">Weddings</a></h5>
        <h5 class="uppercase"><a href="">Decoration</a></h5>
        <h5 class="uppercase"><a href="">Locations</a></h5>
        <h5 class="uppercase"><a href="">Order Online</a></h5>
      </div>

      <div class="col-md-2">
        <h5 class="uppercase"><a href="">Careers</a></h5>
        <h5 class="uppercase"><a href="">Contact</a></h5>
        <h5 class="uppercase"><a href="">Purchase Gift Cards</a></h5>
        <h5 class="uppercase"><a href="">Check Gift Card Balance</a></h5>
        <h5 class="uppercase"><a href="">Check Gift Card Balance</a></h5>
        <h5 class="uppercase"><a href="">Susie Favors Rewards</a></h5>
      </div>
     </div>
  </div>


<div id="copyrights" class="container-fluid">
  <p>Copyright © Rachel Cakes 2021</p>
</div>
