<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="logo" src="../public/images/logo4.webp" alt="logo" />
      </a>
    </div>
    <ul class="nav navbar-nav nav-item">
      <li class="nav-item active"><a href="/about">ABOUT</a></li>
      <li class="nav-item"><a href="/menu">MENU</a></li>
      <li class="nav-item"><a href="/weddings">WEDDINGS</a></li>
      <li class="nav-item"><a href="/decoration">DECORATION</a></li>
      <li class="nav-item"><a href="/locations">LOCATIONS</a></li>
      <li class="nav-item">
        <a href="/celebratewithrachel">#CELEBRATEWITHRACHEL</a>
      </li>
      <li class="dropdown nav-item">
        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          MORE
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item">
            <a class="dropdown-item" href="/gallery">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item" href="/hand_picked">HAND PICKED</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <button class="custom-btn btn-red nav-button" type="button" name="button">
          ORDER
        </button>
        <!-- <button class="btn btn-danger btn-lg nav-button" type="button" name="button">ORDER</button> -->
      </li>
    </ul>
  </div>
</nav>
