<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decoration</title>
  <!-- bootstrap  CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <!-- ajax -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- custom  button css -->
  <link rel="stylesheet" href="../public/css/custom_buttons.css">
  <!-- our css file  -->
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../public/css/decoration.css">

  <!-- include to load header and footer  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/views/partials/includeHTML.js"></script>
</head>

<body>
  <div w3-include-html="header.html"></div>
  <section class="top-banner">
    <div class="container-fluid banner">
      <div class=" row ">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h2 class="uppercase bold">Rachel’s Signature Decoration cakes are the most festive way to celebrate!</h2>
          <br>
          <p>Find your local bakery to place an order.</p>
          <br>

          <button class="custom-btn btn-red " type="button" name="button">Rachel's Story</button>

        </div>

      </div>

    </div>

  </section>

  <section id="image-rows">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 no-padding">
          <img class="img-fluid" src="../public/images/cake.jpg" alt="">
        </div>


      </div>
    </div>
  </section>
  <div w3-include-html="footer.html"></div>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script>
    includeHTML();
  </script>

</body>

</html>