<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/custom_buttons.css">
  </head>

  <body>

    <!-- Header -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img id="logo" src="../public/images/logo4.webp" alt="logo">
          </a>
        </div>
        <ul class="nav navbar-nav nav-item">
          <li class="nav-item active"><a href="/about">ABOUT</a></li>
          <li class="nav-item"><a href="/menu">MENU</a></li>
          <li class="nav-item"><a href="/weddings">WEDDINGS</a></li>
          <li class="nav-item"><a href="/decoration">DECORATION</a></li>
          <li class="nav-item"><a href="/locations">LOCATIONS</a></li>
          <li class="nav-item"><a href="/celebratewithrachel">#CELEBRATEWITHRACHEL</a></li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              MORE
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a href="/gallery">GALLERY</a></li>
              <li class="nav-item"><a href="/hand_picked">HAND PICKED</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <button class="custom-btn btn-red nav-button" type="button" name="button">ORDER</button>
            <!-- <button class="btn btn-danger btn-lg nav-button" type="button" name="button">ORDER</button> -->
          </li>
        </ul>
      </div>
    </nav>

    <!--  -->
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">

        </div>
      </div>
    </div>

    <div id="subscribe-section" class="container">
      <form>
        <div class="form-group row">
          <div class="col-md-4">
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email Address"/>
          </div>
          <div class="col-md-3">
            <button class="custom-btn btn-cyan" type="button" name="button">SUBSCRIBE</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Footer -->
    <div id="footer">
      <div class="container">

        <div class="row">

          <div class="col-md-3">
            <img class="footer-image" src="http://susiecakes.com/app/uploads/2016/01/footer-susie.png" alt="">
          </div>

          <div class="col-md-5">
            <h5 class="sub-title uppercase">Custom Orders</h5>
            <p>Would you like to place a Custom Order or have a special request?</p>
            <a href="" class="sub-title uppercase">Contact your nearest location</a>
            <h5 class="sub-title uppercase">Tell Rachel</h5>
            <p>Have feedback about our products or service? <br>
              Please contact Susie directly at:</p>
            <a href="" class="sub-title uppercase">rachel@bakesbyrachel.com</a>
          </div>

          <div class="col-md-2">
            <h5 class="uppercase"><a href="">Rachels Cakes</a></h5>
            <h5 class="uppercase"><a href="">About</a></h5>
            <h5 class="uppercase"><a href="">Menu</a></h5>
            <h5 class="uppercase"><a href="">Weddings</a></h5>
            <h5 class="uppercase"><a href="">Decoration</a></h5>
            <h5 class="uppercase"><a href="">Locations</a></h5>
            <h5 class="uppercase"><a href="">Order Online</a></h5>
          </div>

          <div class="col-md-2">
            <h5 class="uppercase"><a href="">Rachels Cakes</a></h5>
            <h5 class="uppercase"><a href="">About</a></h5>
            <h5 class="uppercase"><a href="">Menu</a></h5>
            <h5 class="uppercase"><a href="">Weddings</a></h5>
            <h5 class="uppercase"><a href="">Decoration</a></h5>
            <h5 class="uppercase"><a href="">Locations</a></h5>
            <h5 class="uppercase"><a href="">Order Online</a></h5>
          </div>

          <!-- <div class="col-md-1">
            <h5 class="uppercase"><a href="">Rachels Cakes</a></h5>
            <h5 class="uppercase"><a href="">About</a></h5>
            <h5 class="uppercase"><a href="">Menu</a></h5>
            <h5 class="uppercase"><a href="">Weddings</a></h5>
            <h5 class="uppercase"><a href="">Decoration</a></h5>
            <h5 class="uppercase"><a href="">Locations</a></h5>
            <h5 class="uppercase"><a href="">Order Online</a></h5>
          </div> -->

        </div>

      </div>
    </div>

    <div id="copyrights" class="container-fluid">
      <p>Copyright © Rachel Cakes 2021</p>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
