<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- bootstrap  CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../public/css/custom_buttons.css" />
    <link rel="stylesheet" href="../public/css/styles.css" />
</head>

<body>
    <!-- Header -->
    <!-- Navbar -->
    <section id="nav">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img id="logo" src="../public/images/logo4.webp" alt="logo" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav nav-item">
                        <li class="nav-item active"><a href="./about.html">ABOUT</a></li>
                        <li class="nav-item"><a href="./menu.html">MENU</a></li>
                        <li class="nav-item"><a href="./weddings.html">WEDDINGS</a></li>
                        <li class="nav-item"><a href="./decoration.html">DECORATION</a></li>
                        <li class="nav-item"><a href="./location.html">LOCATION</a></li>
                        <li class="nav-item">
                            <a href="/celebratewithrachel">#CELEBRATEWITHRACHEL</a>
                        </li>
                        <li class="nav-item">
                            <button class="custom-btn btn-red nav-button" type="button" name="button">
              ORDER
            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section id="header">
        <div id="carousel-header" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-header" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-header" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-header" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://susiecakes.com/app/uploads/2021/05/SC-Grad-Llama-Slider.jpg" class="d-block w-100" alt="..." />
                    <div class="carousel-text-left">
                        <h1>CELEBRATE THE GRADUATE</h1>
                        <h2>with Susie’s Signature Deco Cakes and Cupcakes!</h25>
                            <br><br>
                            <button type="button" class="carousel-btn custom-btn btn-red">
                Order Now
              </button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://susiecakes.com/app/uploads/2021/05/SC-PBJ-Slider.jpg" class="d-block w-100" alt="..." />
                    <div class="carousel-text-left">
                        <h1>PEANUT BUTTER & JELLY CUPCAKES AVAILABLE</h1>
                        <h2 class="cupcake-date">May 6th – May 30th</h2>
                        <br><br>
                        <button type="button" class="carousel-btn custom-btn btn-red">
              Menu
            </button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://susiecakes.com/app/uploads/2020/04/sc-7-layer-bar-slider.jpg" class="d-block w-100" alt="..." />
                    <div class="carousel-text-right">
                        <h1>7 LAYER BAKED BARS</h1>
                        <h2>
                            with chocolate and butterscotch chips, coconut and pecans on a graham cracker crust
                        </h2>
                        <br><br>
                        <button type="button" class="carousel-btn custom-btn btn-red">
              Order Now
            </button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-header" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-header" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
    </section>

    <section id="about-us-sec">
        <div class="about-us container-fluid  ">
            <div class="row ">
                <div class="col-lg-6 col-md-4 col-sm-12 ">
                    <img class="about-us-img-2 center" src="../public/images/about-usimg-2.png" alt="" />
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <h2 class="about-us-text ">
                        ABOUT RACHELSCAKES <br /><br> Inspired by the classic recipes of her two beloved grandmothers, Mildred and Madeline, Susie created a bakery that uses the finest, simple ingredients and brings celebration into each and every day.
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section id="cta-sec">
        <div class="cta container-fluid">
            <div class="row align-items-center">
                <div class="cta-container col-lg-6 ">
                    <div class="cta-text">
                        <h2 class="bold"> A REWARDS PROGRAM THAT CELEBRATES YOU!</h2>
                        <br /><br>
                        <h2> Get <span class="highlight"> TWO FREE CUPCAKES </span> when you sign up for SusieFavors!</h2>

                    </div>
                    <button type="button" class="custom-btn btn-red download-btn">
            <i class="fab fa-apple"></i> Download
          </button>
                    <button type="button" class="custom-btn btn-cyan download-btn">
            <i class="fab fa-google-play"></i> Download
          </button>
                </div>
                <div class="cta-container col-lg-6">
                    <img class="cta-img" src="../public/images/cta.png" alt="" />
                </div>
            </div>
        </div>
    </section>

    <div id="subscribe-section" class="container">
        <form>
            <div class="form-group row">
                <div class="col-md-4">
                    <input type="email" class="form-control" id="inputEmail" placeholder="EMAIL ADDRESS" />
                </div>
                <div class="col-md-3">
                    <button class="custom-btn btn-red" type="button" name="button">
            SUBSCRIBE
          </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="footer-image" src="http://susiecakes.com/app/uploads/2016/01/footer-susie.png" alt="" />
                </div>

                <div class="col-md-5">
                    <h4 class="sub-title uppercase">Custom Orders</h4>
                    <h5>
                        Would you like to place a Custom Order or have a special request?
                    </h5>
                    <a href="" class="sub-title uppercase">Contact your nearest location</a>
                    <h4 class="sub-title uppercase">Tell Rachel</h4>
                    <h5>
                        Have feedback about our products or service? <br /> Please contact Susie directly at:
                    </h5>
                    <a href="" class="sub-title uppercase">rachel@bakesbyrachel.com</a>
                </div>

                <div class="col-md-2">
                    <h5 class="uppercase"><a href="">Rachels Cakes</a></h5>
                    <h5 class="uppercase"><a href="">About</a></h5>
                    <h5 class="uppercase"><a href="">Menu</a></h5>
                    <h5 class="uppercase"><a href="">Weddings</a></h5>
                    <h5 class="uppercase"><a href="">Decoration</a></h5>
                    <h5 class="uppercase"><a href="">Locations</a></h5>
                </div>

            </div>
        </div>
    </div>

    <div id="copyrights" class="container-fluid">
        <p>Copyright © Rachel Cakes 2021</p>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>