

/* header navbar  */


/* About section */
#header2{
    text-align: center;
}

#header2 .container-fluid{
    padding: 5% 15%;
}

.header2-bg{
    background-image: url(../images/R-about-header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-header2{
    padding: 1% 15% ;
}
.custom-btn{
    margin: 0 20px 20px;
}


.header2-text{
    font-size: 3rem;

}

.header2-text-p{
    font-size: 1.5rem;
    text-indent: 2;
    line-height: 2;
}

.left-align{
    text-align: left;
}
/* Story section  */

.jumbo-bg{
    background-image: url(../images/maccaroons2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.story-h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.spoon-img{
    width: 80%;
    height: 80%;
}
#story .row{
    padding: 2% 10%;
}
.bio-btn{
    align-items: flex-start;

}
/* Our differences  section  */

#our-difference .jumbo-bg{
    background-image: url(../images/strudle.jpg);

}
#our-difference .row{
    padding: 4% 15%;
    /* background-color: white; */
}
