h1,h2,h3,p{
    color: #962d2d;
}

/* header navbar  */
.nav-item{
    padding: 0 10px;
}

.navbar{
    padding: 0 35px;
}


/* About section */
#enjoy-about{
    background-color: white;
    text-align: center;
 
}

#enjoy-about .container-fluid{
    padding: 5% 15%;
}
#enjoy-about a{
    color:white;
}
.header2-bg{
    background-image: url(../images/R-about-header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-header2{
    padding: 1% 15% ;
}
.custom-btn{
    margin: 0 20px 20px;
}

.header2-text{
    font-size: 3rem;

}

.header2-text-p{

    font-size: 1.5rem;
    text-indent: 2;
    line-height: 2;
}

#logo{
    top: 0px;
  }

.scalloped-edge {
    background: url(../images/scallop-large.png) repeat-x bottom center;
    height: 50px;
 position: absolute; 
  left: 0; 
    width: 100%;
 z-index: 3; 

}
/* Story section  */
#story{
    background-color: white;
}
.jumbo-bg{
    background-image: url(../images/maccaroons2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.story-h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.spoon-img{
    width: 60%;
    height: 80%;
}
#story .row{
    padding: 2% 10%;
}
.bio-btn{
    align-items: flex-start;

}
/* Our differences  section  */

#our-difference .jumbo-bg{
    background-image: url(../images/strudle.jpg);

}
#our-difference .row{
    padding: 4% 15%;
    background-color: white;
}
