#logo{
    top: 0px;
}
.navbar{
    padding: 0 35px ;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
}
.nav-item {
    padding: 15px 10px 0;
    left: 0px;
}
.nav-button {
    background-color: #ff4949;
    /* position: relative; */
    top: -10px;
    left: 120px;
}


.image-banner-happy{
    background-image: url("../images/happybanner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
    filter:hue-rotate(1);
    font-size-adjust: inherit;
    font-weight: 900;
}

.padding-lf{
    padding: 20px 15%;
}
.image-story{
    height: auto;
    max-width: 80%;
    display: block;
    margin-left: auto;
    border: 2;
    border-style: solid;
}
a{
    padding: 15px;
    color: blueviolet;
}
a:hover{
    color: #ff485b;
}
.pink-col{
    color: #ff485b;
}