@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  padding: 0;
  margin: 0;
  background-color: #FFFBE8;
  /* font-family: 'Contrail One', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
  padding-top: 120px;
}

#logo{
  width: 150px;
  /* margin-right: 25px; */
  position: relative;
  top: -40px;
}

.navbar{
  /* background-image: url("../images/pattern.webp"); */
  /* background-image: url("../images/pattern2.webp"); */
  font-size: 16px;
  padding: 35px;
  letter-spacing: 1px;
}

.navbar-light{
  /* background-color: #F3F3F3; */
  background-color: white;
}

.nav-item a{
  color: #FF4949;
  text-decoration: none;
}

.nav-item a:hover{
  color: red;

}

.nav-button{
  background-color: #FF4949;
}

.nav-button:hover{
  background-color: red;
}

#footer .row{
  margin-top: 40px;
}

.sub-title{
  font-weight: bold;
}

.uppercase{
  text-transform: uppercase;
  margin-top: 15px;
}

/* Subscribe section */
#subscribe-section{
  padding: 50px;
}

#inputEmail{
  border: none;
  height: 45px;
}

#inputEmail::placeholder{
  font-weight: bold;
}

/* Footer section */
#footer{
  background-color: #FF485B;
  padding: 30px;
  color: white;
}

#footer > div{

}

#footer a{
  color: #FFF797;
}

#footer h5 a{
  /* color: white; */
}

.footer-image{
  -webkit-box-shadow: 36px 3px 5px 4px rgba(0,0,0,0.53);
  -moz-box-shadow: 36px 3px 5px 4px rgba(0,0,0,0.53);
  box-shadow: 36px 3px 5px 4px rgba(0,0,0,0.53);
}

#copyrights{
  text-align: center;
  background-color: #DE2C3E;
  color: white;
  height: 50px;
  padding: 15px 0 0 25px;
}

.carousel-inner {
  text-align: center;
}
.carousel-img {
  width: 100%;
}

.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}

.carousel-text-left {
  position: absolute;
  top: 28%;
  left: 10%;
  height: 250px;
  width: 400px;
  color: #522615;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.carousel-text-right {
  position: absolute;
  top: 28%;
  right: 10%;
  height: 250px;
  width: 400px;
  color: #522615;
  text-align: left;
  font-family: "Lato", sans-serif;
}

h4 {
  font-weight: 700;
  font-size: 2rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

.header-btn {
  margin-top: 3%;
  background-color: #522615;
  color: #fff;
}
.about-us {
  background-color: #fff;
  font-family: "EB Garamond", serif;
}

.about-us-img {
  width: 600px;
  padding: 5%;
}

.about-us-text {
  color: #522615;
  float: right;
  width: 50%;
  padding: 9% 3%;
  font-size: 1.5rem;
  text-align: justify;
}

.about-us-2{
  padding: 5%;
  background-color: #fff;
}

.about-us-img-2 {
  padding: 1%;
  width: 350px;
  margin: 80px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(8deg);
}


.cta {
  background-color: #f9ccd1;
  text-align: center;
  color: #522615;
  padding: 7%;
  font-family: "Montserrat", sans-serif;
}

.cta-heading {
  line-height: 1.5;
  /* font-weight: 600; */
}

.download-btn {
  margin: 1%;
}

.download-btn-color {
  background-color: #ed7a7f;
}

/* #E7341E
#FF2C22
#ED7A7F
#F9CCD1
#522615
#9D6239
#541C1C
#F3D09E */

/* .carousel-caption {
  position: relative;
  margin: auto;
  z-index: 1;
}



  .carousel-caption {
  transform: translateY(-50%);
  background-color: #F9CCD1;
  position: relative;
  /* top: 40%;
  left: 10%;
  padding-top: 5% ;
  padding-left: 3%;
  height: 250px;
  width: 500px;
  color: #522615;
  text-align: left;
}

.test{
  background-color: #F9CCD1;
  position: absolute;
  top: 20%;
  left: 10%;
  padding-top: 5% ;
  padding-left: 3%;
  height: 250px;
  width: 500px;
  color: #522615;
  text-align: left;
} */
