@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #522615;
  /* font-family: 'Contrail One', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Lato", sans-serif;
  /* padding-top: 120px; */
}

/* h4 {
  font-weight: 700;
  font-size: 3rem;
}

h5 {
  font-size: 1.7rem;
  font-weight: 400;
} */

h1{
  font-size: 4rem;
  font-weight: 900;
}
h2{
    font-size: 2rem;
    font-weight: 500;
}

a{
  color: #fff;
}

a:link{ text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none;  color: #fff;}
a:active { text-decoration: none; }

/* Partials */
iframe{
  overflow: hidden;
}

#header{
  width: 100%;
}

#footer{
  width: 100%;
  height: 400px;
}

/* ----------------------------------------------------------------------------------- */
/* Header navbar style */

#logo {
  width: 140px;
  /* margin-right: 25px; */
  position: relative;
  top: -45px;
}

.navbar {
  /* background-image: url("../images/pattern.webp"); */
  /* background-image: url("../images/pattern2.webp"); */
  font-size: 16px;
  padding: 50px 35px 50px 35px;
  letter-spacing: 1px;

}


/* header navbar  */
.nav-item{
  padding: 0 10px;
}

.navbar-light {
  /* background-color: #F3F3F3; */
  background-color: white;
}

.nav-item a {
  color: #ff4949;
  text-decoration: none;
}

.nav-item a:hover {
  color: red;
}

.nav-button {
  background-color: #ff4949;
}

.nav-button:hover {
  background-color: red;
}

.top-banner{
  text-align: left;
  color: white;
 }

.top-banner .container-fluid{
    padding: 5% 15%;
}
.top-banner a{
    color:white;
}

/* Carousel */
/* ----------------------------------------------------------------------------------- */

.carousel-img {
  width: 100%;
}

/* .carousel-inner > .item {
  position: relative;
  max-height: 600px;
} */

.carousel-text-left {
  position: absolute;
  top: 32%;
  left: 10%;
  height: 250px;
  width: 400px;
  color: #522615;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.carousel-text-right {
  position: absolute;
  top: 32%;
  right: 10%;
  height: 250px;
  width: 400px;
  color: #522615;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.carousel-btn {
  margin: 3%;
}


.about-us {
  background-color: #fff;
  /* font-family: "EB Garamond", serif; */
}


.about-us-text {
  color: #522615;
  margin: 10% 1%;
  width: 70%;
  font-size: 2rem;
  text-align: justify;
  text-indent: 2;
}

.about-us-img-2 {
  padding: 3%;
  width: 300px;
  margin: 8% 6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(8deg);
}

.cupcake-date{
  color: #ed7a7f;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.highlight{

  color: #de2c3e;
  text-decoration: underline;
}
/* CTA */
/* ----------------------------------------------------------------------------------- */

.cta {
  background-color: #f3d09e;
  /* font-family: "Montserrat", sans-serif; */
}

.cta-container {
  text-align: center;
}

.cta-text {

  text-align: center;
  line-height: 1.5;
  /* font-weight: 600;
  font-size: 2rem; */
  margin: 4%;
}

.cta-img {
  width: fit-content;
}

.download-btn {
  margin: 4% 2%;
}

/* Subscribe section */
/* ----------------------------------------------------------------------------------- */
#subscribe-section {
  padding: 50px;
}

#inputEmail {
  border: none;
  height: 45px;
}

#inputEmail::placeholder {
  font-weight: bold;
}

/* Footer section */
/* ----------------------------------------------------------------------------------- */
#footer {
  background-color: #ff485b;
  padding: 30px;
  color: white;
}

#footer a {
  color: #fff797;
}

.footer-image {
  -webkit-box-shadow: 36px 3px 5px 4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 36px 3px 5px 4px rgba(0, 0, 0, 0.53);
  box-shadow: 36px 3px 5px 4px rgba(0, 0, 0, 0.53);
}

#footer .row {
  margin-top: 40px;
}

.sub-title {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  margin-top: 15px;
}

.bold{
  font-weight: bold;
}

#copyrights {
  text-align: center;
  background-color: #de2c3e;
  color: white;
  height: 50px;
  padding: 15px 0 0 25px;
}

/* #E7341E
#FF2C22
#ED7A7F
#F9CCD1
#522615
#9D6239
#541C1C
#F3D09E */
