@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  padding: 0;
  margin: 0;
  background-color: #C7C6C2;
  /* font-family: 'Contrail One', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
}

#logo{
  width: 150px;
  margin-right: 25px;
  position: relative;
  top: -50px;
}

.navbar{
  /* background-image: url("../images/pattern.webp"); */
  /* background-image: url("../images/pattern2.webp"); */
  font-size: 16px;
  padding: 35px;
  letter-spacing: 1px;
}

.navbar-light{
  /* background-color: #F3F3F3; */
  background-color: white;
}

.nav-item a{
  color: #FF4949;
}

.nav-item a:hover{
  color: red;
}

.nav-button{
  position: relative;
  right: -200px;
  background-color: #FF4949;
}

.nav-button:hover{
  background-color: red;
}

#footer .row{
  margin-top: 40px;
}

.sub-title{
  font-weight: bold;
}

.uppercase{
  text-transform: uppercase;
  margin-top: 15px;
}

#footer{
  background-color: #FF485B;
  padding: 30px;
  color: white;
}

#footer > div{

}

#footer a{
  color: #FFF797;
}

#footer h5 a{
  /* color: white; */
}

.footer-image{
  -webkit-box-shadow: 36px 3px 5px 4px rgba(0,0,0,0.53);
  -moz-box-shadow: 36px 3px 5px 4px rgba(0,0,0,0.53);
  box-shadow: 36px 3px 5px 4px rgba(0,0,0,0.53);
}

#copyrights{
  text-align: center;
  background-color: #DE2C3E;
  color: white;
  height: 50px;
  padding: 15px 0 0 25px;
}
