.container-1 {
    position: relative;
    color: #FFF;
}

.first-text {
    position: absolute;
    left: 7%;
    top: 35%;
    width: 45%;
}


/* SERVICES */

.service-text {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 3%;
    text-align: center;
}

.fa-heart {
    color: #ed7a7f;
    padding-right: 1.5%;
}

.banner {
    position: relative;
    color: #FFF;
    padding: 1% 0;
}

.row {
    padding: 0 10% 0 20%;
}

.col-text {
    padding: 2%;
}


/* Cards */

.tasting-text {
    font-weight: 700;
    font-size: 2rem;
    padding: 7%;
    text-align: center;
}

.col {
    padding: 1%;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}