.container-1 {
    position: relative;
    color: #FFF;
}

.first-text {
    position: absolute;
    left: 7%;
    top: 35%;
    width: 45%;

}


/* SERVICES */

.service-text {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 5%;

}

.fa-heart {
    color: #ed7a7f;
    padding-right: 1%;
}

.service-cont {
    margin: 5%;
    
}

.row-padding {
    padding: 1% auto;
}

.container-2 {
    position: relative;
    color: #FFF;
    padding: 1% 0;
}

.container-3 {
    position: relative;
    color: #FFF;
    padding: 1% 0;
}

.container-4 {
    position: relative;
    color: #FFF;
    padding: 1% 0;
}